<article class="main">
    <section class="section-1">
        <article class="foto">
            <img src="../../../assets/img/foto.jpg" alt="">
            <h2 class="title is-3">EMILIO</h2>
            <p class="profesion">DEVELOPPER</p>
        </article>
        <article class="descripcion">
            <h2 class="title is-3">Habilidades</h2>
            <ul>
                <li><i class="fab fa-vuejs"></i>Vue Web Developper (TypeScript,Sass).</li>
                <li><i class="fab fa-angular"></i>Angular Web Developper (TypeScript,Sass).</li>
                <li><i class="fas fa-fire"></i>Firebase (Server Side Rendering, AngularFire)</li>
                <li><i class="fas fa-database"></i>Backend JS - MySql</li>
                <li><i class="fas fa-microchip"></i>Microcontrolador Arduino</li>
                <li><i class="fas fa-icons"></i>Administrador de redes Sociales</li>
                <li><i class="fas fa-user-tie"></i>Emprendedor</li>
            </ul>
        </article>
    </section>
    <section class="section-2">
        <app-tabs-informacion></app-tabs-informacion>
    </section>
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Darwin Reyes</p>
                    <p class="subtitle is-6">emiliorr201@gmail.com</p>
                </div>
            </div>

            <div class="content">
                <p>
                    Emprendedor responsable autodidacta capaz de ejecutar proyectos propios y de particulares. <br><br>
                    Cuestionar, investigar y aprender considero que son los pasos fundamentales para ejecutar un
                    proyecto.<br><br> "Somos una minúscula
                    parte en un mundo lleno de conocimiento"

                </p>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Agosto 2021</time>
            </div>
        </div>
    </div>

</article>