@import '../../../assets/colores.scss';
@import '../../../assets/medidas.scss';
.main {
    padding-top: $padding;
    padding-bottom: $padding;
    padding-left: $padding;
    .message-header {
        background-color: $primario;
    }
    .field {}
    .wsp {
        background: $wsp;
        color: white;
        outline: none;
        margin: 0 auto;
        i {
            padding-right: 3px;
        }
    }
}